body{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);

}
.col-md-6{
    border: 7px solid black;
    margin: 150px;
    padding: 20px !important;
}
button{
   border: 2px solid black !important;
   margin: 20px;
   padding: 2px;
}
h1{
    font-weight: bolder;
    margin: 20px;
}
